BasedOnStyle: Google
ColumnLimit: 120
IndentWidth: 2
AllowShortFunctionsOnASingleLine: All
Standard: c++23
IncludeBlocks: Regroup
IncludeCategories:
  - Regex:           '^<[a-z_]*\.h>'
    Priority:        1
  - Regex:           '^<[a-z_]*>'
    Priority:        2
  - Regex:           '^"(nlohmann|gtest|gmock)/'
    Priority:        3
  - Regex:           '^".*"'
    Priority:        4
